In [2]:
pip install kagglehub

Collecting kagglehub
  Downloading kagglehub-0.3.12-py3-none-any.whl.metadata (38 kB)
Requirement already satisfied: packaging in c:\users\sávio\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from kagglehub) (23.1)
Requirement already satisfied: pyyaml in c:\users\sávio\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from kagglehub) (6.0)
Requirement already satisfied: requests in c:\users\sávio\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from kagglehub) (2.31.0)
Requirement already satisfied: tqdm in c:\users\sávio\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from kagglehub) (4.65.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\sávio\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from requests->kagglehub) (3.1.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\sávio\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from requests->kagglehub) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\sávio\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from requests->kagglehub) (2.0.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\sávio\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from requests->kagglehub) (2023.5.7)
Requirement already satisfied: colorama in c:\users\sávio\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from tqdm->kagglehub) (0.4.6)
Downloading kagglehub-0.3.12-py3-none-any.whl (67 kB)
   ---------------------------------------- 0.0/68.0 kB ? eta -:--:--
   ---------------------------------------- 68.0/68.0 kB 3.6 MB/s eta 0:00:00
Installing collected packages: kagglehub
Successfully installed kagglehub-0.3.12
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 25.1.1
[notice] To update, run: C:\Users\Sávio\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [3]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("vivek468/superstore-dataset-final")

print("Path to dataset files:", path)

C:\Users\Sávio\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

Downloading from https://www.kaggle.com/api/v1/datasets/download/vivek468/superstore-dataset-final?dataset_version_number=1...

100%|██████████| 550k/550k [00:00<00:00, 893kB/s]

Extracting files...
Path to dataset files: C:\Users\Sávio\.cache\kagglehub\datasets\vivek468\superstore-dataset-final\versions\1

In [5]:
pip install kaggle

Collecting kaggle
  Downloading kaggle-1.7.4.5-py3-none-any.whl.metadata (16 kB)
Collecting bleach (from kaggle)
  Downloading bleach-6.2.0-py3-none-any.whl.metadata (30 kB)
Requirement already satisfied: certifi>=14.05.14 in c:\users\sávio\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from kaggle) (2023.5.7)
Requirement already satisfied: charset-normalizer in c:\users\sávio\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from kaggle) (3.1.0)
Requirement already satisfied: idna in c:\users\sávio\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from kaggle) (3.4)
Collecting protobuf (from kaggle)
  Downloading protobuf-6.31.1-cp310-abi3-win_amd64.whl.metadata (593 bytes)
Requirement already satisfied: python-dateutil>=2.5.3 in c:\users\sávio\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from kaggle) (2.8.2)
Collecting python-slugify (from kaggle)
  Downloading python_slugify-8.0.4-py2.py3-none-any.whl.metadata (8.5 kB)
Requirement already satisfied: requests in c:\users\sávio\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from kaggle) (2.31.0)
Requirement already satisfied: setuptools>=21.0.0 in c:\program files\windowsapps\pythonsoftwarefoundation.python.3.11_3.11.2544.0_x64__qbz5n2kfra8p0\lib\site-packages (from kaggle) (65.5.0)
Requirement already satisfied: six>=1.10 in c:\users\sávio\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from kaggle) (1.16.0)
Collecting text-unidecode (from kaggle)
  Downloading text_unidecode-1.3-py2.py3-none-any.whl.metadata (2.4 kB)
Requirement already satisfied: tqdm in c:\users\sávio\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from kaggle) (4.65.0)
Requirement already satisfied: urllib3>=1.15.1 in c:\users\sávio\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from kaggle) (2.0.3)
Collecting webencodings (from kaggle)
  Downloading webencodings-0.5.1-py2.py3-none-any.whl.metadata (2.1 kB)
Requirement already satisfied: colorama in c:\users\sávio\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from tqdm->kaggle) (0.4.6)
Downloading kaggle-1.7.4.5-py3-none-any.whl (181 kB)
   ---------------------------------------- 0.0/181.2 kB ? eta -:--:--
   ---------------------------------------- 181.2/181.2 kB 5.5 MB/s eta 0:00:00
Downloading bleach-6.2.0-py3-none-any.whl (163 kB)
   ---------------------------------------- 0.0/163.4 kB ? eta -:--:--
   ---------------------------------------- 163.4/163.4 kB ? eta 0:00:00
Downloading protobuf-6.31.1-cp310-abi3-win_amd64.whl (435 kB)
   ---------------------------------------- 0.0/435.3 kB ? eta -:--:--
   --------------------------------------- 435.3/435.3 kB 26.6 MB/s eta 0:00:00
Downloading python_slugify-8.0.4-py2.py3-none-any.whl (10 kB)
Downloading text_unidecode-1.3-py2.py3-none-any.whl (78 kB)
   ---------------------------------------- 0.0/78.2 kB ? eta -:--:--
   ---------------------------------------- 78.2/78.2 kB 4.2 MB/s eta 0:00:00
Using cached webencodings-0.5.1-py2.py3-none-any.whl (11 kB)
Installing collected packages: webencodings, text-unidecode, python-slugify, protobuf, bleach, kaggle
Successfully installed bleach-6.2.0 kaggle-1.7.4.5 protobuf-6.31.1 python-slugify-8.0.4 text-unidecode-1.3 webencodings-0.5.1
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 25.1.1
[notice] To update, run: C:\Users\Sávio\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [6]:
import pandas as pd
import os
import json

os.makedirs(os.path.expanduser("~/.kaggle"), exist_ok=True)
with open("kaggle.json") as f:
    kaggle_token = json.load(f)

with open(os.path.expanduser("~/.kaggle/kaggle.json"), "w") as f:
    json.dump(kaggle_token, f)

# Defina permissões corretas
os.chmod(os.path.expanduser("~/.kaggle/kaggle.json"), 0o600)

In [9]:
import kagglehub
import os

# Baixa o dataset se ainda não estiver na máquina
path = kagglehub.dataset_download("vivek468/superstore-dataset-final")

# Mostra todos os arquivos encontrados
for root, dirs, files in os.walk(path):
    for file in files:
        print("Arquivo encontrado:", os.path.join(root, file))

Arquivo encontrado: C:\Users\Sávio\.cache\kagglehub\datasets\vivek468\superstore-dataset-final\versions\1\Sample - Superstore.csv

In [13]:
df = pd.read_csv(
    r'C:\Users\Sávio\.cache\kagglehub\datasets\vivek468\superstore-dataset-final\versions\1\Sample - Superstore.csv',
    encoding='latin1'  # ou encoding='ISO-8859-1'
)

df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [14]:
df.shape

(9994, 21)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   object
 3   Ship Date      9994 non-null   object
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: float64(3), int64(3), object(15)
memory usage: 1.6+ MB

In [78]:
df.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')

In [93]:
colunas_renomear = {
    'Order ID': 'order_id',
    'Order Date': 'order_date',
    'Ship Date': 'ship_date',
    'Ship Mode': 'ship_mode',
    'Customer ID': 'customer_id',
    'Customer Name': 'customer_name',
    'Segment': 'segment',
    'Product ID': 'product_id',
    'Product Name': 'product_name',
    'Category': 'category',
    'Sub-Category': 'sub_category',
    'Sales': 'sales',
    'Quantity': 'quantity',
    'Discount': 'discount',
    'Profit':'profit'
}

In [94]:
df = df.rename(columns=colunas_renomear)

a missão inicial é alimentar um banco de dados relacional composto pelas tabelas customers, products, orders e sales

**Customers**

In [133]:
customers = df[['customer_id','customer_name', 'segment']]

In [84]:
customers.duplicated().sum()
df_customers = customers.drop_duplicates()

In [ ]:
'Country', 'City', 'State', 'Postal Code', 'Region'

In [134]:
df_customers.info()

<class 'pandas.core.frame.DataFrame'>
Index: 793 entries, 0 to 9558
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   customer_id    793 non-null    object
 1   customer_name  793 non-null    object
 2   segment        793 non-null    object
dtypes: object(3)
memory usage: 24.8+ KB

**Products**

In [135]:
products = df[['product_id','category', 'sub_category','product_name']]
products.duplicated().sum()

8100

In [120]:
df_products = products.drop_duplicates()
df_products.duplicated().sum()

0

In [121]:
df_products.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1894 entries, 0 to 9935
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   product_id    1894 non-null   object
 1   category      1894 non-null   object
 2   sub_category  1894 non-null   object
 3   product_name  1894 non-null   object
dtypes: object(4)
memory usage: 74.0+ KB

In [122]:
df_products = df_products.drop_duplicates(subset='product_id', keep='first')
df_products.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1862 entries, 0 to 9935
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   product_id    1862 non-null   object
 1   category      1862 non-null   object
 2   sub_category  1862 non-null   object
 3   product_name  1862 non-null   object
dtypes: object(4)
memory usage: 72.7+ KB

In [127]:
df_products.product_id.value_counts().sort_values(ascending=False)

product_id
FUR-BO-10001798    1
OFF-BI-10000756    1
FUR-TA-10000577    1
OFF-ST-10000760    1
FUR-FU-10001487    1
                  ..
TEC-MA-10003589    1
OFF-AP-10003099    1
TEC-PH-10002645    1
OFF-FA-10000254    1
OFF-ST-10001627    1
Name: count, Length: 1862, dtype: int64

**Orders**

In [136]:
orders = df[['order_id','order_date', 'ship_date','ship_mode','customer_id']]

In [90]:
orders.duplicated().sum()

4985

In [91]:
df_orders = orders.drop_duplicates()

In [104]:
df_orders.head()

          order_id  order_date   ship_date       ship_mode customer_id
0   CA-2016-152156  2016-11-08  2016-11-11    Second Class    CG-12520
2   CA-2016-138688  2016-06-12  2016-06-16    Second Class    DV-13045
3   US-2015-108966  2015-10-11  2015-10-18  Standard Class    SO-20335
5   CA-2014-115812  2014-06-09  2014-06-14  Standard Class    BH-11710
12  CA-2017-114412  2017-04-15  2017-04-20  Standard Class    AA-10480

In [101]:
df_orders['order_date'] = pd.to_datetime(df_orders['order_date'], format='%m/%d/%Y').dt.strftime('%Y-%m-%d')
df_orders['ship_date'] = pd.to_datetime(df_orders['ship_date'], format='%m/%d/%Y').dt.strftime('%Y-%m-%d')

C:\Users\Sávio\AppData\Local\Temp\ipykernel_21064\2786175698.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_orders['order_date'] = pd.to_datetime(df_orders['order_date'], format='%m/%d/%Y').dt.strftime('%Y-%m-%d')
C:\Users\Sávio\AppData\Local\Temp\ipykernel_21064\2786175698.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_orders['ship_date'] = pd.to_datetime(df_orders['ship_date'], format='%m/%d/%Y').dt.strftime('%Y-%m-%d')

**Sales**

In [137]:
sales = df[['sales','quantity', 'discount','profit','order_id','product_id']]

In [96]:
sales.duplicated().sum()
df_sales = sales.drop_duplicates()

Gerando script SQL para inserir dados no banco

In [111]:
def gerar_inserts_sql(df, nome_tabela, arquivo_sql='inserts.sql'):

    with open(arquivo_sql, 'w', encoding='utf-8') as f:
        for _, row in df.iterrows():
            colunas = ', '.join(df.columns)  # nome das colunas
            valores = []

            for valor in row:
                if pd.isna(valor):  # trata valores nulos
                    valores.append('NULL')
                elif isinstance(valor, str):
                    valor = valor.replace("'", "''")  # escapa aspas simples
                    valores.append(f"'{valor}'")
                else:
                    valores.append(str(valor))  # para números, datas, etc.

            valores_sql = ', '.join(valores)
            f.write(f"INSERT INTO {nome_tabela} ({colunas}) VALUES ({valores_sql});\n")

In [ ]:
gerar_inserts_sql(df_customers, 'customers', 'customers.sql')
gerar_inserts_sql(df_orders, 'orders', 'orders.sql')
gerar_inserts_sql(df_products, 'products', 'products.sql')
gerar_inserts_sql(df_sales, 'sales', 'sales.sql')

In [99]:
df_sales.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9993 entries, 0 to 9993
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   sales       9993 non-null   float64
 1   quantity    9993 non-null   int64
 2   discount    9993 non-null   float64
 3   profit      9993 non-null   float64
 4   order_id    9993 non-null   object
 5   product_id  9993 non-null   object
dtypes: float64(3), int64(1), object(2)
memory usage: 546.5+ KB